<ol class="breadcrumb">
    <li><a href="#/Home">Home</a></li>
    <li class="active">Templates</a></li>
</ol>
<div class="page-header">
    <h1>My Templates</h1>
    <br/>
    <button type="button" class="btn btn-primary btn-sm" ng-click="addPrivateTemplate()">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        <span>Add</span>
    </button>
    <button type="button" class="btn btn-danger btn-sm" ng-show="selectedPrivateItem" ng-click="deletePrivateTemplate()">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        <span>Delete</span>
    </button>
    <button type="button" class="btn btn-primary btn-sm" ng-click="refreshPrivate()">
        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
        <span>Refresh</span>
    </button>
    <div kendo-grid="privateTemplatesGrid"
         k-data-source="gridData"
         k-columns="gridColumns"
         k-selectable="true"
         k-sortable="true"
         k-pageable="true"
         k-scrollable="false"
         k-on-change="selectedItem = dataItem"></div>
    <hr/>
    <h1>Public Templates</h1>
    <br/>
    <button type="button" class="btn btn-primary btn-sm" ng-click="addPublicTemplate()">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        <span>Add</span>
    </button>
    <button type="button" class="btn btn-danger btn-sm" ng-show="selectedPublicItem" ng-click="deletePublicTemplate()">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        <span>Delete</span>
    </button>
    <button type="button" class="btn btn-primary btn-sm" ng-click="refreshPublic()">
        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
        <span>Refresh</span>
    </button>
    <div kendo-grid="publicTemplatesGrid"
         k-data-source="gridData"
         k-columns="gridColumns"
         k-selectable="true"
         k-sortable="true"
         k-pageable="true"
         k-scrollable="false"
         k-on-change="selectedItem = dataItem"></div>
</div>