<ol class="breadcrumb">
    <li><a href="#/Home">Home</a></li>
    <li><a ui-sref="Things">Things</a></li>
    <li class="active">{{thingId}}</a></li>
</ol>
<div class="page-header">
    <h1>{{name}}</h1>
    <br/>
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Description</h3>
            </div>
            <div class="panel-body">
                <p>{{description}}</p>
            </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Location</h3>
                </div>
                <div class="panel-body">
                    <ui-gmap-google-map center='map.center' zoom='map.zoom'>
                        <ui-gmap-marker coords="marker.coords" idkey="marker.id">
                        </ui-gmap-marker>
                    </ui-gmap-google-map>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Sensoren</h3>
        </div>
        <div class="panel-body">
            <button type="button" class="btn btn-primary btn-sm" ng-click="addSensor()">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                <span>Add</span>
            </button>
            <button type="button" class="btn btn-primary btn-sm" ng-show="selectedItem" ng-click="viewSensor()">
                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                <span>View</span>
            </button>
            <button type="button" class="btn btn-danger btn-sm" ng-show="selectedSensorItem" ng-click="deleteSensor()">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                <span>Delete</span>
            </button>
            <button type="button" class="btn btn-primary btn-sm" ng-click="refreshSensors()">
                <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                <span>Refresh</span>
            </button>
            <div options="mainGridOptions"
                 kendo-grid="sensorGrid"
                 k-data-source="sensorData"
                 k-columns="gridColumns"
                 k-selectable="true"
                 k-groupable="true"
                 k-pageable="true"
                 k-scrollable="false"
                 k-on-change="selectedSensorItem = dataItem"></div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Aktuatoren</h3>
        </div>
        <div class="panel-body">
            <button type="button" class="btn btn-primary btn-sm" ng-click="addSensor()">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                <span>Add</span>
            </button>
            <button type="button" class="btn btn-primary btn-sm" ng-show="selectedActuatorItem" ng-click="viewActuator()">
                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                <span>View</span>
            </button>
            <button type="button" class="btn btn-danger btn-sm" ng-show="selectedItem" ng-click="deleteActuator()">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                <span>Delete</span>
            </button>
            <button type="button" class="btn btn-primary btn-sm" ng-click="refreshActuators()">
                <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                <span>Refresh</span>
            </button>
            <div options="mainGridOptions"
                 kendo-grid="actuatorGrid"
                 k-data-source="actuatorData"
                 k-columns="gridColumns"
                 k-selectable="true"
                 k-pageable="true"
                 k-scrollable="false"
                 k-on-change="selectedActuatorItem = dataItem"></div>
        </div>
    </div>
</div>